/* ==========================
  **************************
  TABLE OF CONTENTS
  **************************

  1. GLOBAL STYLES

  2. COMPONENTS
  - 2.1 Buttons

  3. CONTENT AREAS
  - 2.2
============================*/

    /* 1. GLOBAL STYLES */
    html, body{
      font-size: 18px;

    }

    *{
      font-family: 'Bai Jamjuree', sans-serif;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


    .logo{
      padding-bottom: 40px;
    }

    .introduction{
      padding-bottom: 80px;

    }

 
    @media (max-width: 700px){
      
      *{
        font-size: 13px;
        
      }

      h1, h2, h3{
        font-size: 10px;

      }

      .logo{
        padding: 0;
      }

      .introduction{
        padding: 0;
        
      }

      .btns{
        margin-top: 0;
      }
        
    }

    h1, h2, h3{
      color: hsl(0, 0%, 26%);
    }

    p{
      color: hsl(210, 10%, 33%);

    }

    
    :root{
      --Strong-Cyan: hsl(171, 66%, 44%);
      --Light-Blue: hsl(233, 100%, 69%);
      --Dark-Grayish-Blue: hsl(210, 10%, 33%);
      --Grayish-Blue: hsl(201, 11%, 66%);

    }

    .fit{
      max-width: 1440px;
      margin: auto;
    }


    a{
      text-decoration: none;
      color: hsl(210, 10%, 33%);
    }


    /* 1. GLOBAL STYLES END*/


    /* 2. COMPONENTS */

      /* 2.1 Buttons */
      .btns{
          margin-top: 40px;
        }


      .ios-btn, .mac-btn{
        padding: 15px 28px;
        border-radius: 22px;
        box-shadow: inset 0 -3px rgba(0, 0, 0, .5), 0 4px 4px rgba(0, 0, 0, .5);
        color: white;

      }
    
      .ios-btn{
        background-color: var(--Strong-Cyan);
        animation: demo .3s ease infinite;
      }


      .mac-btn{
        background-color: var(--Light-Blue);

      }

      .ios-btn:hover, .mac-btn:hover{
        opacity: .8;
      }


    /* 2. COMPONENTS END*/


    /* 3. CONTENT AREAS */
      .hero-section{
        height: 100vh;
        
        background-image: url(../images/bg-header-desktop.png);
        background-size: cover;
        

      }



      .section-header{
        max-width: 700px;
        margin: auto;
      }

      .brand{
        float: left;
        width: 20%;
      }

      @media (max-width: 800px){


        .brand{
          float: none;
          width: 300px;
          margin: 20px auto;
          
        }

        .brand img{
          width: 50%;
          margin: auto;

        }

        .ios-btn, .mac-btn{
          display: block;
          width: 80%;
          margin: 10px auto;
  
        }
      }

      /* Footer */
      footer{
        background-color: hsla(233, 100%, 69%, 0.047);
        padding: 20px 0;
      }

      .footer-logo{
        width: 50px;
        height: 50px;
        padding: 4px 0;
      }

      .footer-col a{
        display: block;
        padding: 8px 0;
      }

      .footer-icons .icon{
        display: inline-block;
        padding-left: 20px;
        font-size: 18px;
        color: var(--Grayish-Blue);
      }

      .footer-icons .icon:hover{
        display: inline-block;
        padding-left: 20px;
        color: var(--Light-Blue);
      }

      
    /* 3. CONTENT AREAS END*/

